extends: default

rules:
  line-length:
    max: 100
    level: warning
  comments: disable
  document-start: disable
  empty-lines: disable
  indentation: {spaces: 2, level: warning}

ignore: |
  .github/workflows/*.yaml
  vendor/
